main {
  background-color: #f0eded;
  padding: 2rem;
}

.presentation-container {
  display: flex;
  justify-content: center;
  font-style: italic;
}

main .presentation {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 1rem;
  box-sizing: border-box;
}

.presentation .hand {
  height: 3vw;
  margin-left: 1rem;
}

.presentation .profile {
  height: 8vw;
  border-radius: 50%;
  margin-left: 1rem;
}

.centered-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
