section[id="presentation"] {
  padding: 0 2rem 2rem;
}

h1.title-centered {
  text-align: center;
}

.presentation-container {
  display: flex;
  justify-content: center;
  font-style: italic;
  padding: 2rem 1rem;
}

.presentation-container .presentation {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  border-radius: 1rem;
  border: 2px solid #d5d5d5;
  padding: 1rem;
  box-sizing: border-box;
}

.presentation .hand {
  height: 3vw;
  margin-left: 1rem;
}

.presentation .profile {
  height: 170px;
  border-radius: 50%;
}

.presentation .phrase {
  font-weight: 500;
}

.centered-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .presentation-container .presentation {
    padding: unset;
    border: none;
    width: 100%;
    flex-direction: column-reverse;
  }
  .presentation .hand {
    display: none;
  }
  .presentation .profile {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  main .presentation {
    width: 80vw;
  }
}
