section[id="education"] {
  padding: 2rem;
  background-color: #333333;
  color: #fff;
}

section[id="education"] .description {
  margin-top: 1rem;
}

section[id="education"] .description p {
  margin-bottom: 1rem;
}

section[id="education"] .description a {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: 600;
}

div.certifications  {
  margin-top: 2rem;
}

.show-diploma {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

.show-diploma .diploma-icon {
  height: 30px;
  margin-right: 10px;
}
