header {
    background-color: #272727;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-content: center;
}

.position {
    margin-left: 2rem;
    font-weight: 600;
}

.logo {
    background-color: white;
    color: #272727;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-weight: 700;
}