section[id="experience"] {
  padding: 2rem;
  background-color: #38586e;
  color: #fff;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clickable.company-logo {
  border-radius: 10%;
  display: block;
  background-color: transparent;
  height: 120px;
  width: 120px;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(230, 230, 230, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.company-logo img {
  border-radius: 10%;
}

.clickable.company-logo:hover {
  background-color: transparent;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

div.experience-container .see-more-link {
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
}
