.company-description {
  margin-top: 60px;
  padding: 2rem;
}

.company-description .company-title,
.company-description p {
  margin-bottom: 1.5rem;
}

.company-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-description .links a {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: 700;
}

.company-title .company-logo {
  opacity: 0.85;
  height: 100px;
  border-radius: 10px;
}
